<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content="Aman Srivastava"/>
    <title>Wal(s)mart | Assignments</title>
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet"/>
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet"/>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Wal(s)mart</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Assignments">
                <a class="nav-link" href="/assignments">
                    <i class="fa fa-fw fa-list-ul"></i>
                    <span class="nav-link-text">Assignments</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Users">
                <a class="nav-link" href="/users">
                    <i class="fa fa-fw fa-users"></i>
                    <span class="nav-link-text">Users</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tasks">
                <a class="nav-link" href="/tasks">
                    <i class="fa fa-fw fa-check-square-o"></i>
                    <span class="nav-link-text">Tasks</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/assignments">Assignments</a>
            </li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-calendar-plus-o"></i> Create New Assignment
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-6">
                        <form>
                            <div class="form-group">
                                <label for="task_name">Select a Task:</label>
                                <select id="task_name" class="form-control" th:field="*{tasks}">
                                    <option th:each="task : ${tasks}"
                                            th:value="${task.getTaskId()}"
                                            th:text="${task.getTaskName()+' - '+task.getTaskPriority()+' Priority - ETA '+task.getTaskEstimatedTime()+' days'}">Options</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="user_name">Select a User:</label>
                                <select id="user_name" class="form-control" th:field="*{users}">
                                    <option th:each="user : ${users}"
                                            th:value="${user.getUserId()}"
                                            th:text="${user.getFirstName()+' '+user.getLastName()+' - '+user.getUserGroup()}">Options</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-default" id="btn_submit">Add New Assignment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-list-ul"></i> All Assignments</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Task</th>
                            <th>User</th>
                            <th>Priority</th>
                            <th>ETA</th>
                            <th>Assigned</th>
                            <th>Deadline</th>
                            <th>Status</th>
                            <th>Rank</th>
                            <th>Notes/Feedback</th>
                            <th>Save/Close/Delete</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="assignment : ${assignments}">
                            <td th:text="${assignment.assignmentId}"></td>
                            <td th:text="${assignment.task.taskName}"></td>
                            <td th:text="${assignment.user.firstName + ' ' + assignment.user.lastName}"></td>
                            <td th:text="${assignment.task.taskPriority}"></td>
                            <td th:text="${assignment.task.taskEstimatedTime+ ' days'}"></td>
                            <td th:text="${assignment.getDateAssignedFormatted()}"></td>
                            <td th:text="${assignment.getDeadlineFormatted()}"></td>
                            <td th:text="${assignment.status}"
                                th:style="${assignment.status} == 'Open'? 'color: #28a745;' : 'color: #bd2130;'">
                            </td>
                            <td th:text="${assignment.getRank()}"></td>
                            <td>
                                <textarea class="form-control" id="assignment_notes" name="assignment_notes" th:inline="text">[[${assignment.getNotes()}]]</textarea>
                            </td>
                            <td th:id="${assignment.assignmentId}">
                                <button class="btn btn-sm btn-warning save-assignment" title="Save"> <i class="fa fa-save"></i></button>
                                <button class="btn btn-sm btn-success close-assignment" title="Close"><i class="fa fa-close"></i></button>
                                <button class="btn btn-sm btn-danger delete-assignment" title="Delete"> <i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Last updated: <script>var date = new Date(); document.write(date.getHours()+":"+date.getMinutes() + " ")</script></div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © <a href="http://amansrivastava.me" target="_blank">Aman Srivastava</a> • <a href="https://github.com/aman-srivastava/Walsmart" target="_blank">Source</a></small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="index.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/jquery.js" type="application/javascript"></script>
<script type="application/javascript">
    $(document).ready(function () {
        $('#btn_submit').on("click",function(e){
            e.preventDefault();
            var taskId = $("#task_name").val();
            var userId = $("#user_name").val();
            var date = new Date().getTime().toString();
            if ($.trim(taskId)===""){
                alert("You must select at least one task");
            }
            else if($.trim(userId)===""){
                alert("You must select at least one user");
            }
            else{
                $.ajax({
                   type:"POST",
                   url:"/createassignment",
                   data:{userId:userId, taskId:taskId, date: date},
                   success:function (data) {
                           window.location.reload();
                   }
                });
            }
        });

        //Delete assignment button handler

        $('.delete-assignment').on("click", function(e){
            e.preventDefault();

            if(confirm("Are you sure you want to delete this assignment?")){
                var Id = parseInt($(this).closest("td").attr("id"));

                $.ajax({
                    type:"POST",
                    url:"/removeassignment",
                    data:{Id:Id},
                    success:function (data) {
                        $(".delete-assignment").closest("td#"+data).parent("tr").fadeOut("slow",function(){
                            $(".delete-assignment").closest("td#"+data).parent("tr").remove();
                            window.location.reload();

                        });
                    }
                });
            }

        });
        //Close assignment button handler

        $('.close-assignment').on("click", function(e){
            e.preventDefault();

                var Id = parseInt($(this).closest("td").attr("id"));
                $.ajax({
                    type:"POST",
                    url:"/closeassignment",
                    data:{Id:Id},
                    success:function (data) {
                        window.location.reload();
                    }
                });
        });

        //Save assignment button handler

        $('.save-assignment').on("click", function(e){
            e.preventDefault();
                var Id = parseInt($(this).closest("td").attr("id"));
                var notes = $(this).closest('tr').find('#assignment_notes').val();
                $.ajax({
                    type:"POST",
                    url:"/updateassignment",
                    data:{Id:Id, notes: notes},
                    success:function (data) {
                        window.location.reload();
                    }
                });
        });

    });
</script>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugin JavaScript-->
<script src="vendor/datatables/jquery.dataTables.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages-->
<script src="js/sb-admin.min.js"></script>
<!-- Custom scripts for this page-->
<script src="js/sb-admin-datatables.min.js"></script>
</body>
</html>